.inclinada {
  color: green;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 40px;
  font-style: oblique;
}
.parrafos {
color: green;
}

.subtitulos {
  color:#551a8b;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

